:local {
  .page.odd {
    background-image:-webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
  	background-image:-moz-linear-gradient(left, #FFF 95%, #ddd 100%);
  	background-image:-o-linear-gradient(left, #FFF 95%, #ddd 100%);
  	background-image:-ms-linear-gradient(left, #FFF 95%, #ddd 100%);
  }

  .page.even
  {
    background-image:-webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
	  background-image:-moz-linear-gradient(right, #FFF 95%, #ddd 100%);
	  background-image:-o-linear-gradient(right, #FFF 95%, #ddd 100%);
	  background-image:-ms-linear-gradient(right, #FFF 95%, #ddd 100%);
  }

  .container a {
    font-size: 1.4rem;
  }
}
